* {
    margin: 0;
}

.container-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}


.container {
    margin: 0;
}

.container p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
}

.container h1 {
    font-size: 32px;
}

.container p,
h4 {
    margin: 0;
    margin-bottom: 0;
}

.container h4 {
    font-size: 22px;
    margin-top: 0;
}

.email-button {
    margin: 20px 0 0;
    background-color: #4F75FF;
    border: 1px solid black;
    color: #fff;
    transition: none;
    border-radius: 2px solid black;
}

.container-modal .email-button:hover {
    background-color: #dfe8ff;
    transform: none;
}

.container-modal .social-container {
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.social-icon {
    color: #4F75FF;
    padding: 10px;
}

.social-icon:hover {
    color: #dfe8ff;
}

@media screen and (max-width: 600px) {

    .container p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}