.FAQ-Content {
    margin: 40px 60px 35px;
}

.FAQ-Heading {
    margin-bottom: 40px;
}

.heading-description {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.heading-description .question {
    margin-top: 20px;
}

.heading-description .question button {
    margin-top: 10px;
}

.accordion {
    margin-top: 20px;
}

h1 {
    padding-bottom: 30px;
}

h4 {
    padding-bottom: 20px;
}

hr {
    border: none;
    border-top: 2px dashed #333;
    margin: 20px 0;
}