.FAQ-Content {
    margin: 40px 60px 35px;
}

.FAQ-Heading {
    margin-bottom: 40px;
}

.FAQ-Heading h4 {
    text-align: left;
}

.heading-description {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.heading-description .question {
    margin-top: 20px;
}

.heading-description button {
    margin-top: 10px;
}

.heading-description button:hover {
    transform: none;
    background-color: #fff;
}

.accordion {
    margin-top: 20px;
}

h1 {
    padding-bottom: 30px;
}

h4 {
    padding-bottom: 20px;
}

hr {
    border: none;
    border-top: 2px dashed #333;
    margin: 20px 0;
}

@media only screen and (max-width: 900px) {

    .FAQ-Heading h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    .FAQ-Heading h4 {
        text-align: center;
    }

}

@media only screen and (max-width: 750px) {
    .FAQ-Content {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .FAQ-Content {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .heading-description {
        text-align: center;
    }

    .heading-description button {
        display: block;
        margin: 10px auto 0;
    }

    .css-1xkv504-MuiTypography-root {
        text-align: left;
    }

    .css-1edfpdg-MuiTypography-root {
        text-align: left;
    }
}