.contact-button {
    background-color: #4F75FF;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
    background-color: #FFD94F;
    color: #4F75FF;
    transform: scale(1.05);
}