.wave-icon {
    height: 1.5em;
    /* Adjust size to match text */
    width: auto;
    /* Maintain aspect ratio */
    vertical-align: middle;
    /* Align with text */
    margin-right: 8px;
    /* Add spacing between icon and text */
}


.nav-button:hover {
    background-color: #dfe8ff !important;
    border-radius: 5px;
    transform: none !important;
}