.wave-icon {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-right: 8px;
}


.nav-button:hover {
    background-color: #dfe8ff !important;
    border-radius: 5px;
    transform: none !important;
}

.css-20bmp1-MuiSvgIcon-root {
    color: #4F75FF;
}