/* * {
    margin: 0;
    padding: 0;
}

.image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    justify-content: center;
    text-align: right;
} */

* {
    margin: 0;
    padding: 0;
}

/* .image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    justify-content: flex-end;
    padding-right: 50px;
}

.text-content {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: right;
}

.text-content h1 {
    font-size: 80px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.text-content p {
    font-size: 26px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.text-content button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.text-content button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.text-content button a:hover {
    text-decoration: underline;
} */

/* Main.css */
/* .image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
    color: white;
    text-align: right;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-weight: bold;
}

.text-content h1 {
    font-size: 80px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: white;
}

.text-content p {
    font-size: 26px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #FFD94F;
}

.text-content button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.text-content button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.text-content button a:hover {
    text-decoration: underline;
} */

.main-content {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content {
    margin-left: auto;
    /* Pushes the content to the right */
    padding-right: 50px;
    /* Adds some spacing from the right edge */
    max-width: 800px;
    /* Optional: sets a max width for the content */
    text-align: right;
}

.content h1 {
    font-size: 5.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding-right: 0;
}

.content p {
    color: #FFD94F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 2rem;
    margin-bottom: 25px;
}

.content button {
    background-color: #4F75FF;
}

.content button:hover {
    background-color: #FFD94F;
    color: #4F75FF;
}

/* .content .description {
    background-color: transparent;
} */