/* * {
    margin: 0;
    padding: 0;
}

.image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
    justify-content: center;
    text-align: right;
} */

* {
    margin: 0;
    padding: 0;
}

/* .image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    justify-content: flex-end;
    padding-right: 50px;
}

.text-content {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: right;
}

.text-content h1 {
    font-size: 80px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.text-content p {
    font-size: 26px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.text-content button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.text-content button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.text-content button a:hover {
    text-decoration: underline;
} */

/* Main.css */
/* .image-content {
    margin: 0;
    display: flex;
    height: 100vh;
    background-size: cover;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
    color: white;
    text-align: right;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-weight: bold;
}

.text-content h1 {
    font-size: 80px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: white;
}

.text-content p {
    font-size: 26px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #FFD94F;
}

.text-content button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.text-content button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.text-content button a:hover {
    text-decoration: underline;
} */

.main-content {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.main-content .content {
    margin-left: auto;
    /* Pushes the content to the right */
    padding-right: 50px;
    /* Adds some spacing from the right edge */
    max-width: 500px;
    height: 70vh;
    text-align: right;
    color: #fff;

    display: flex;
    /* Enables flexbox */
    flex-direction: column;
    /* Stacks children vertically */
    justify-content: space-between;
}

.main-content .content h1 {
    font-size: 5.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding-right: 0;
    font-size: 5rem;
}

.main-content .content h1 .zone-highlight {
    color: #4F75FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.main-content .content p {
    color: #000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    margin-bottom: 25px;
    padding: 20px;
}

.main-content .content .button-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: auto;
}

.main-content .content .button-container button {
    /* background-color: #4F75FF;
    color: #fff; */
    background-color: #f0f8ff;
    color: #4F75FF;
    border: 0.5px solid #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content .content .button-container button:hover {
    /* background-color: #f0f8ff;
    color: #4F75FF; */
    background-color: #4F75FF;
    color: #fff;
    transform: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Changes shadow on hover */

}