* {
    margin: 0;
    padding: 0;
}

.main-content {
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.main-content .content {
    margin-left: auto;
    /* Pushes the content to the right */
    padding-right: 50px;
    /* Adds some spacing from the right edge */
    max-width: 500px;
    height: 70vh;
    text-align: right;
    color: #fff;

    display: flex;
    /* Enables flexbox */
    flex-direction: column;
    /* Stacks children vertically */
    justify-content: space-between;
}

.main-content .content h1 {
    font-size: 5.5rem;
    color: #fff;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    padding-right: 0;
    font-size: 5rem;
}

.main-content .content h1 .zone-highlight {
    color: #4F75FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.main-content .content p {
    color: #000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
    font-size: 2rem;
    margin-bottom: 25px;
    padding: 20px 0 20px 20px;
}

.main-content .content .button-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: auto;
}

.main-content .content .button-container button {
    /* background-color: #4F75FF;
    color: #fff; */
    background-color: #f0f8ff;
    color: #4F75FF;
    border: 0.5px solid #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content .content .button-container button:hover {
    /* background-color: #f0f8ff;
    color: #4F75FF; */
    background-color: #4F75FF;
    color: #fff;
    transform: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Changes shadow on hover */

}

@media only screen and (max-width: 900px) {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-content .content {
        padding-right: 0;
        /* Remove right padding */
        margin-left: 0;
        /* Reset margin */
        align-items: center;
        /* Center content */
        text-align: center;
        border: none;
        height: 30vh;
    }

    .main-content .content h1 {
        color: #4F75FF;
        text-align: center;
    }

    .main-content .content h1 .splash-zone,
    .main-content .content h1 .zone-highlight {
        display: inline-block;
        white-space: nowrap;
        color: #FFF;
    }


    .main-content .content .content-description {
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 780px) {
    .main-content .content h1 {
        color: #4F75FF;
        text-align: center;
    }

    .main-content .content h1 .zone-highlight {
        display: inline-block;
        white-space: nowrap;
        color: #FFF;
    }
}

@media only screen and (max-width: 600px) {

    .main-content .content {
        margin-bottom: 10rem;
    }

    .main-content .content h1,
    p {
        text-align: center;
    }

    .main-content .content h1 {
        color: #FFF;
        text-align: center;
    }

    .main-content .content h1 .splash-zone {
        white-space: normal;
        color: #FFF;
    }

    .main-content .content h1 .zone-highlight {
        display: inline-block;
        white-space: nowrap;
        color: #4F75FF;
    }

    .main-content .content .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: auto;
    }
}