.programs {
    background-color: #4F75FF;
    padding: 40px 20px;
    color: white;
    text-align: center;
}

.programs .title {
    color: #FFF;
}

.programs .title-description {
    padding: 0 10px 35px;
}

.programs .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.programs .program-card {
    background-color: white;
    color: #4F75FF;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.programs .program-card h4 {
    padding-bottom: 12px;
}

.program-card-description {
    padding: 20px;
    /* background-color: #fefdd2; */
    background-color: #f0f8ff;
    border-radius: 10px;
}

.program-icon {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    display: block;
    margin: 10px auto;
    /* Centers the icon */
}

.programs .contact-button {
    margin-top: 40px;
    background-color: #fff;
    color: #000;
    transition: transform 0.3s ease, color 0.3s ease;
}

.programs .contact-button:hover {
    margin-top: 40px;
    background-color: #f0f8ff;
    color: #4F75FF;
}

/* .programs {
    background-color: #4F75FF;
    padding: 20px;
}
-+
+
.programs h2 {
    font-size: 2rem;
    color: white;
}

.programs p {
    font-size: 1rem;
    color: white;
}

.programs .program-card {
    flex: 1 1 30%;
    box-sizing: border-box;
    padding: 10px;
}

.programs .program-card h4 {
    font-size: 1.25rem;
    color: white;
}

.programs .program-card p {
    font-size: 1rem;
    color: white;
}---

.programs .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.programs .contact-button {
    margin-top: 16px;
    background-color: #FFD94F;
} */