.programs {
    background-color: #4F75FF;
    padding: 40px 20px;
    color: white;
    text-align: center;
}

.programs .title {
    color: #FFF;
    text-align: center;
}

.programs .title-description {
    padding: 0 10px 35px;
}

.programs .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.programs .program-card {
    background-color: white;
    color: #4F75FF;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.programs .program-card h4 {
    padding-bottom: 12px;
}

.program-card-description {
    padding: 20px;
    /* background-color: #fefdd2; */
    background-color: #f0f8ff;
    border-radius: 10px;
}

.program-icon {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    display: block;
    margin: 10px auto;
    /* Centers the icon */
}

.toggle-packages-container {
    background-color: #f0f8ff;
    margin-top: 2rem;
    padding: 2rem;
}

.toggle-packages-button {
    margin-top: 2rem;
    background-color: #f0f8ff;
    color: #4F75FF;
    border: 2px solid black;
}

.contact-button {
    border: 2px solid black;
}

.programs .package-container {
    margin: 5rem 40px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.programs .package-card {
    background-color: #f0f8ff;
    color: #4F75FF;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.programs .package-card .pkg-sessions {
    background-color: #f0f8ff;
}

.programs .package-card .pkg-times {
    background-color: #4F75FF;
    color: #fff;
    margin-top: 10px;
    padding: 4px;
    border-radius: 3px;
}

.programs .programs-btns-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    padding: 1rem;
}

.programs .programs-btns-container button {
    margin: 1rem 0 0;
    background-color: #fff;
    color: #000;
    min-width: 200px;
}

.programs .programs-btns button:hover {
    background-color: #f0f8ff;
    color: #4F75FF;
    transform: none;
    /* transform: transform 0.3s ease, color 0.3s ease; */
}

.programs .programs-btns-container .toggle-packages-button:hover {
    background-color: #c4e0f9;
}

.programs .contact-button:hover {
    transform: none;
    background-color: #c4e0f9;
}


@media screen and (max-width: 768px) {
    .programs .package-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .programs .title-description {
        text-align: center;
    }

}

@media screen and (max-width: 480px) {
    .programs h2 {
        font-size: 3rem;
    }

    .programs .programs-btns-container button {
        margin: 1rem 0 0;
        background-color: #fff;
        color: #000;
        min-width: 175px;
    }
}