.quote {
    width: auto;

    background-color: #2c7bb4e3;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;

    /* Stacks children vertically */
    align-items: center;
    /* Horizontally centers children */
    justify-content: center;
    /* Vertically centers children */
}