.why-us-container {
    background-color: white;
    padding: 70px 40px 40px;
}

.why-us-container .heading h3,
h2,
.why-us-container .title,
.css-uniq8u-MuiTypography-rooth3,
h2 {
    color: #4F75FF;
    text-align: center;
}

.description {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
}

.why-us-card {
    flex: 1 1 30%;
    margin: 10px;
    min-width: 250px;
}

.card-container .why-us-card .heading,
h6 {
    text-align: center;
}

h6,
.css-uyrjoy-MuiTypography-root {
    text-align: center;
}

button {
    background-color: #4F75FF;
    border-radius: 10px;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #c4e0f9;
    color: #4F75FF;
    transform: none;
    cursor: pointer;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .why-us-card {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {

    .why-us-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .why-us-container h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}